<h1>Vim Tips</h1>

<ul id="tips">
<% @tips.each do |tip| %>
  <li class="tip well">
    <%= tip.content %>
    (via <%= link_to tip.twitter_id, "http://twitter.com/#{tip.twitter_id}" %>)
    <%= link_to '<i class="icon-comment" title="Leave A Comment"></i>'.html_safe, tip, :class => 'tip-link hide' %>
  </li>
<% end %>
</ul>

