<h1>Vim Tips</h1>

<ul id="tips">
<% @tips.each do |tip| %>
  <li class="tip well">
    <%= tip.content %>
    <%= link_to 'Show', tip %>
    <%= link_to 'Edit', edit_tip_path(tip) %>
    <%= link_to 'Destroy', tip, confirm: 'Are you sure?', method: :delete %>
  </li>
<% end %>
</ul>

