<h1>Plugin</h1>

<div class="tip well">
  <p>Install vim tips plugin. Let vim show tips everytime you open it.</p>
  <h2>Screeshot</h2>
  <div class="btn-group">
    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
      Download
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li>
      	<a href="https://github.com/yesmeck/tips.vim/zipball/master">Download as zip</a>
      </li>
      <li>
      	<a href="https://github.com/yesmeck/tips.vim/tarball/master">Download as tar.gz</a>
      </li>
    </ul>
  </div>
</div>
