<h1>Plugin</h1>

<div class="tip well">
  <p>Install vim tips plugin. Let vim show tips everytime you open it.</p>
  <h2>Screenshot</h2>
  <p>
  <%= image_tag 'screenshot.png', :alt => 'Vim tips screenshot' %>
  </p>
  <div class="btn-group">
    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
      Download
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li>
      	<a href="http://www.vim.org/scripts/script.php?script_id=4094">Download from vim.org</a>
      </li>
      <li>
      	<a href="https://github.com/yesmeck/tips.vim/">Download source</a>
      </li>
    </ul>
  </div>
</div>
