<div class="tip well single">
  <%= @tip.content %>
  <%= render 'tips/via', :tip => @tip %>
</div>

<div id="permalink">
  <%= link_to '[Permalink]', @tip %>
</div>

<%= render 'tips/disqus', :tip => @tip %>
